<html>
  <head>
    <title>Certificate DApp</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>
  <body>
    <nav
      class="navbar is-link title is-4"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="http://localhost:8000/public/icons/certificate.svg" />
          <span class="ml-2"> Certificate DApp </span>
        </a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item mx-2" href="/issue"> Issue Certificate </a>
      </div>
    </nav>
    <section class="section">
      <div class="container has-text-centered">
        <img
          src="http://localhost:8000/public/icons/certificate.svg"
          width="256"
        />
        <h3 class="title is-4">Search Certificate Details</h3>
        <input
          class="input is-large"
          type="text"
          placeholder="Enter Certificate ID"
        />
      </div>
    </section>
  </body>
</html>
